html {
	background-color: yellow;
}

body {
	width: 650px:
	margin: 0 auto;
	border: double 5px blue;
	font-align: center;
}

main {
	padding: 20px:
}

h1{
	font-size: 150%;
	color: blue;
}

h2{
	font-size: 125%;
	color: blue;
}

h3{
	font-size: 115%;
	color: blue;
}
p, blockquote, ul, li {
	margin-top: 10px;
	margin-bottom: 10px;
}

cite{
	color: blue;
	font-style: normal;
}

p.cite-paragraph {
	text-align: right;
	margin-bottom: 0.75em;
}

img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

footer p {
	font-size: 90%;
	font-width: bold;
	font-align: center;
	margin-top: 10px;
	margin-botton: 10px;
}

footer{
	border-top: 5px solid blue;
	padding-top: 10px;
}
